h2 a {
  color: #454545;
  text-decoration: none;
}

h2 span.veryhigh { 
  border-radius: 5px;
  border: 1px solid red;
  padding: 20px;
  color: red;
}

h2 span.high { 
  color: #A32C22;
}

h2 span.normal { 
  
}

h3 {
	text-decoration: underline;
}

h4 {
  text-decoration: none;
}

.overdue h4 {
  color: red;
}

.duesoon h4 {
  color: orange;
}

.released h4 {
  color: green;
}

.generalinfo {
  width: 100%;
}

.projectimg {
  height: 15%;
  width: 15%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.chartradio {
  text-align: center;
}

input[type=radio] {
  margin: 0.5em;
}

.testing {
  color: white;
  text-decoration: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}